apsw==3.16.2.post1
arrow==0.15.4
click==6.7
cx-Freeze==5.1.1
cycler==0.10.0
geographiclib==1.50
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.17.4
pandas==0.23.4
peewee==3.12.0
psycopg2==2.6.2
pyparsing==2.4.5
PyQt5==5.9.2
PyQt5-sip==12.7.0
PyQtChart==5.9.2
pyserial==3.1.1
python-dateutil==2.8.1
pytz==2019.3
scipy==1.10.0
seaborn==0.9.0
sip==4.19.8
six==1.13.0
