# Pip requirements for OPTECS.
#
# apsw must be installed from wheel. See pyqt5-framdata\doc\dev_env\unpipable_packages.
apsw==3.16.2.post1
arrow==0.10.0
click==6.7
cx-Freeze==5.0.1
keyring==10.2
lxml==3.7.2
peewee==2.8.5
PyQt5==5.9
python-dateutil==2.6.0
sip==4.19.2
six==1.10.0
sqlparse==0.2.3
typing==3.5.3.0
mypy==0.501
zeep==0.27.0
